# Compiled class files
*.class

# Log files
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# Maven
/target/

# Gradle
/build/
/.gradle/

# Eclipse
.project
.classpath
.settings/

# STS (Spring Tool Suite)
/.apt_generated
/.factorypath
/.springBeans
/repository/

# IntelliJ IDEA
*.iml
.idea/
out/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Environment variables file
.env